<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <title>爪 转转</title>
    <style>
        main {
            display: block;
            background-color: rgb(248, 248, 248);
            width: 35vw;
            height: 100vh;
            margin-right: 30vw;
        }

        form {
            display: inline-block;
            background-color: white;
            width: 80%;
            margin-right: 10%;
            margin-top: 30%;
            border-radius: 5px;

        }

        h1 {
            margin-right: 33%;
            font-size: 130%;
        }

        hr {
            border-color: #2f57ff;
            width: 80%;
            margin-block-start: 0.8em;
            margin-inline-start: 5%;
            margin-inline-end: 0;
        }

        .list {
            display: block;
            margin-top: 10%;
        }

        .next {
            display: block;
            background-color: #2f57ff;
            width: 80%;
            height: 15%;
            border-radius: 5px;
            color: white;
            /* margin-right: 10%;
    margin-top: 10%; */
            font-size: 20px;
            margin: 10% 10%;

        }
    </style>
</head>

<body dir="rtl">
    <main>
        <form action="/">
            <section>
                <h1>转转 砖转拽</h1>
                <ul class="list">
                    <% data.forEach(function(c) { %>
                        <li>
                            <strong>砖:</strong>
                            <%= c.category %><br>
                                <strong>转:</strong>
                                <%= c.message %><br>
                                    <strong>转专:</strong>
                                    <%= c.create_at %>
                        </li>
                        <hr>
                        <% }) %>
                </ul>
            </section>
            <input class="next" id="toHome" type="submit" value=" 祝 转 ">
        </form>
    </main>
</body>

</html>